
.App {
  display: flex;
  align-items: center;
  }
  
  .left-content {
    height: 100px;
    flex: 1; 
    background-color: #333;
    color: white;
  }
  
  .right-image {
    display: flex;
    justify-content: flex-end;
  }
  
  .right-image img {
    max-width: 100%; 
    max-height: 100vh; 
  }