/* App.css */

.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 20px; 
}

.AppBody{
  justify-content: center;
  align-items: center;
}

.left-content {
  flex: 1;
  background-color: #333;
  color: white;
  padding: 20px
}

.right-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.right-image img {
  max-width: 100%;
  max-height: 100vh;
}
